---
# handlers file for provision/roles/hardening_debian

- name: restart sshd
  service:
    name: ssh
    state: restarted

- name: restart fail2ban
  service:
    name: fail2ban
    state: restarted


